{% extends 'index.html' %}
{% load crispy_forms_tags %} 
{% block navitems %}
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Login</a>
    </li>
</ul>
{% endblock %}

{% block msg %}
{% if messages %}
{% for msg in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{msg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endblock %}


{% block main %}
<div class="col-md-6 offset-md-3 p-2 mt-3">
    <h2>Signup</h2>
    <form action="{% url 'register' %}" method='post'>
        {% csrf_token %}
        {{form|crispy}}
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">Signup</button>
            <p>Already have account please <a href="{% url 'home' %}">Login</a></p>
        </div>
        
    </form>
</div>
{% endblock %}